@import viewmodels.user.UserDetailViewModel

@(model: UserDetailViewModel)(implicit requestHeader: MessagesRequestHeader)

@main("UserIndex") {
  <div>
    <div>
      <h1>User List</h1>
    </div>

    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>@model.name</td>
        </tr>
        <tr>
          <td>Role</td>
          <td>@model.roleId</td>
        </tr>
      </table>
    </div>

    <div>
      <a href="">Modify</a>
    </div>
    <div>
      @helper.form(action = routes.UserController.deleteSubmit(model.id)) {
        @helper.CSRF.formField
        <input type="submit" value="Delete" />
      }
    </div>
    <div>
      <a href="@routes.UserController.index()">Back</a>
    </div>
  </div>
}