@import viewmodels.user.add.UserAddForm.UserAddForm
@import viewmodels.user.add.UserAddInputViewModel
@import views.html.helper.{CSRF, options}
@(model: UserAddInputViewModel, form: Form[UserAddForm])(implicit request: MessagesRequestHeader)

@main("UserAddInput") {
  <div>
    @helper.form(action = routes.UserController.addInputSubmit()) {
      @helper.CSRF.formField
      @helper.inputText(form("name"))
      @helper.inputRadioGroup(field = form("roleId"), options("admin" -> "管理者", "member" -> "一般"))
      <input type="submit" value="Register" />
    }
  </div>
}